---
import type { Project } from "../../types/types"


const project:Project = Astro.props.project;
project.urls ??= [];
---

<section class="project-card bordered">
	<div class="name-description">
		<h2>{project.name}</h2>
		<p>{project.description}</p>
	</div>
	<ul class="project-urls">
		{project.urls.map((link,i) => (
			<li><a href={link.url} target="_blank">{link.text}</a></li>
		))}
	</ul>

	{project.thumb?
		<img src={project.thumb} alt={`Thumbnail for ${project.name}`} />:
		<div class="no-thumb"></div>
	}
	{project.languageDetails && (
		<span class="language-details">Language: {project.languageDetails}</span>
	)}
</section>